@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #169859;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #16985980;
}

/* 
* {
  border: 1px solid gray;
} */

/* top */
.custom-shape-divider-top-1694182034 {
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1694182034 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 200px;
}

.custom-shape-divider-top-1694182034 .shape-fill {
  fill: #f1fff8;
}

/* bottom */
.custom-shape-divider-bottom-1694182133 {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1694182133 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 300px;
}

.custom-shape-divider-bottom-1694182133 .shape-fill {
  fill: #f1fff8;
}



.custom-shape-divider-bottom-1694190985 {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1694190985 svg {
  position: relative;
  display: block;
  width: calc(280% + 1.3px);
  height: 200px;
}

.custom-shape-divider-bottom-1694190985 .shape-fill {
  fill: #f1fff8;
  stroke: #169859;
  stroke-width: 0.5px;
}

/* berita */

.custom-shape-divider-top-1694191071 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1694191071 svg {
  position: relative;
  display: block;
  width: calc(280% + 1.3px);
  height: 200px;
}

.custom-shape-divider-top-1694191071 .shape-fill {
  fill: #f1fff8;
}


.inberita-shape-divider-bottom-1694190687 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.inberita-shape-divider-bottom-1694190687 svg {
  position: relative;
  display: block;
  width: calc(280% + 1.3px);
  height: 200px;
}

@media screen and (max-width:1440) {
  .inberita-shape-divider-bottom-1694190687 svg {
    height: 400px;
  }
}

.inberita-shape-divider-bottom-1694190687 .shape-fill {
  fill: #FFFFFF;
}

/* end berita */

/* ltq */
.custom-shape-divider-top-1694200175 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1694200175 svg {
  position: relative;
  display: block;
  width: calc(201% + 1.3px);
  height: 100px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1694200175 .shape-fill {
  fill: #f1fff8;
}